<div class="setting">
    <div class="label">
        <label for="repo_directory">Directory to local git checkout:</label>
    </div>
    <div class="field">
        <input type="text" name="repo_directory" value="<TMPL_VAR NAME=REPO_DIRECTORY ESCAPE=HTML>" size="60"/>
        <p>To disable, leave this field blank. If not blank, this directory must be an existing checkout.</p>
    </div>
</div>

